.card-item {
  float: left;
  width: 3.3rem;
  margin: 0 .14rem .28rem .14rem;
  &-img {

  }
  &-name {

  }
  &-price {
    &-tip {

      background: #da5463;
      border-radius: .12rem;
      display: inline-block;
      padding: .06rem;
    }
  }
}
