.button {
  cursor: pointer;
  &-primary {
    width: 6.9rem;
    height: .8rem;
    margin: .3rem;
    font-size: .3rem;
    border-radius: .08rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: url("../../assets/images/wp-button-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: all .1s ease-in-out;
    &:active {
      opacity: .45;
    }
    &.bottom {
      position: absolute;
      bottom: 0;
    }
  }
  &-cannel {
    width: 2.25rem;
    height: .78rem;
    background: #bfbfbf;
    border-radius: .08rem;
    font-size: .3rem;
    color: #fff;
  }
  &-submit {
    width: 4.35rem;
    height: .78rem;
    background: #da5643;
    border-radius: .08rem;
    font-size: .3rem;
    color: #fff;
  }
  &-tip {
    background: #da5643;
    border-top-left-radius: .12rem;
    border-bottom-right-radius: .12rem;
    padding: .1rem .2rem;
  }
  &-code {
    width: 1.76rem;
    height: .6rem;
    text-align: center;
    border: .02rem solid #da5643;
    color: #da5643;
    transition: all .3s ease-in-out;
    font-weight: bold;
  }
  &-x {
    border: .01rem solid #b5b5b5;
    border-radius: .02rem;
    padding: .06rem .2rem;
    font-size: .22rem;
    color: #777;
  }
  &-y {
    background: #da5643;
    border-bottom-left-radius: .12rem;
    border-top-right-radius: .12rem;
    padding: .1rem .2rem;
    font-size: .22rem;
    color: #fff;
  }
  &-t {
    background: #da5643;
    border-radius: .02rem;
    font-size: .22rem;
    color: #fff;
    display: inline-block;
    width: .32rem;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
  }
  &.disabled, &[disabled] {
    // background: #EFEFEF;
    // color: #bfbfbf;
    opacity: .45;
  }
  &.sm {
    width: 1.2rem;
  }
  &.md {
    width: 2.4rem;
  }
  &.lg {
    width: 3rem;
  }
}
